.posse_header {
  max-width: 1440px;
  height: 80px;
  left: 0px;
  right: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  gap: 474px;
}

.posse_nav{
  display: flex;
  right: 0;
}

ul {
  display: flex;
}

a {
  display: block;
  margin-right: 35px;
}

.q_main_image {
  max-width: 1440px;
  height: 320px;
  left: 0px;
  right: 0px;
  position: relative;
}

.q_main_paragraph{
  max-width: 1032px;
  margin: 0 auto;
  padding: 0px 24px;
  position: absolute;
  top: 190px;
  left: 204px;
  display: flex;
  flex-direction: column;
}

.q_paragraph_1st{
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Noto Sans JP';
  font-style: normal;
}

.q_paragraph_2nd{
  font-size: 60px;
  color: #FFFFFF;
  font-family: 'Noto Sans JP';
  font-style: normal;
}

/* START クイズ */

.option_wrapper{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* width: 312px;
  height: 80px; */
}

.option{
  width: 100%;
  border: solid 5px #EEEEEE;
  margin: 24px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.option_click{
  border: solid 5px #0071BC
}

.triangle{
  width: 0;
  height: 0;
  border-left: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}



.quiz_container{
  margin: 0 auto;
  width: 70%;
}

.q_icon{
  font-family: 'Plus Jakarta Sans';
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background-color: #0071bc;
  width: 55px;
  height: 50px;
  padding-left: 15px;
  padding-top: 6px;
  border-radius: 8px;
  margin-top: 128px;
}
.q_answer{
  font-family: 'Plus Jakarta Sans';
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background-color: #e34e70;
  width: 35px;
  height: 50px;
  padding-left: 15px;
  padding-top: 6px;
  border-radius: 8px;
}

h2 {
  font-size: 36px;
}

.q_source{
  font-size: 18px;
  background-color:#F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

/* START Q1 */
.q1_image{
  width:718px;
  height:357px;
  display: block;
  margin: 65px auto;
}

.q_answer_container{
  max-width: 984px;
  height: 143px;
  background-color: #fff2f5;
  border-radius: 8px;
  margin-bottom: 18px;
}

.q_correct_answer{
  font-size: 24px;
  color: #E34E70;
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 16px;

}

.q_answer_label{
  font-size: 24px;
  color: #333333;
  padding-left: 40px;
  padding-right: 16px;
}

.q_answer_text{
  font-size: 18px;
}


.q_missing_container{
  max-width: 984px;
  height: 143px;
  background-color: #EFF2F5;
  border-radius: 8px;
  margin-bottom: 18px;
}

.q_missing_answer{
  font-size: 24px;
  color: #0071BC;
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 16px;

}

/* END Q1 */

/* START Q2 */
.q2_image{
  width: 718px;
  height: 357px;
  display: block;
  margin: 65px auto;
}
/* END Q2 */

/* START Q3 */
.q3_image{
  width: 758px;
  height: 358px;
  display: block;
  margin: 65px auto;
}
/* END Q3 */

/* START Q4 */
.q4_image{
  width: 758px;
  height: 358px;
  display: block;
  margin: 65px auto;
}
/* END Q4 */

/* START Q5 */
.q5_image{
  width: 758px;
  height: 358px;
  display: block;
  margin: 65px auto;
}
/* END Q5 */

/* START Q6 */
.q6_image{
  width: 758px;
  height: 358px;
  display: block;
  margin: 65px auto;
}
/* END Q6 */

.posse_official_line,.line_paragraph{
  color: #fff;
  text-align: center;
}

.line_section {
  max-width: 984px;
  height: 357px;
  margin: 140px auto;
}

.line_inner {
  width: 100%;
  height: 100%;
  background-image: url(./img/bg-line.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 48px;
  overflow: hidden;
}

.line_inner::before {
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0071bc;
  opacity: 0.9;
}

.line_content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
}

.line_heading{
  display: flex;
}

.line_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_icon {
  height: 40px;
  width: 40px;
  margin-right: 8px;
}

.line_button{
  width: 320px;
  height: 50px;
  background-color: #fff;
  border-radius: 98px;
}

.button_add{
  position: relative;
  width: 320px;
  height: 20px;
  text-align: center;
  top: -2px;
}


.posse_footer {
  text-align:center;
  max-width: 1440px;
  height: 355px;
  left: 0px;
  top: 1875px;
  border-top: 1px solid #EEEEEE;
}


.footer_info {
  display:block;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 20px;
}

.footer_sns {
  display: flex;
  justify-content: center;
  top: 1440px;
  padding-bottom:  48px;
  border-bottom: 1px solid #EEEEEE;
}

.footer_copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  align-items: center;
  padding: 20px;
  color: #666666;
}

.banner{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #5FDF5B  ;
  height: 80px;
  width: 288px;
  color: #fff;
  margin: 35px;
  display: flex;
  z-index: 8;
}

.line[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: .8rem;
  content: "\f35d";
  margin: 0 0 0 5px;
}
