body{
  max-width: 1200px;
  background-color: #F5F5F8;
}

header{
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.header_container{
  /* width: 960px; */
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
} 

.logo_img{
  /* position: absolute;; */
  margin-left: 25%;
  display: flex;
  align-items: center;
  width: 90%;
  height: 90%;
}

.header_btn{
  color: #fff;
  position: absolute;
  right: 5%;
  padding: 13px 60px;
  display: inline-block;
  text-decoration :none;
  text-align: center;
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  box-shadow : -4px 3px 10px #07CCFA;
  border-radius: 100vh;
}

main{
  margin-right: 10%;
  margin-left: 10%;
}

.hour_container{
  display: flex;
  width: 50%;
  margin-top: 64px;
}

.today ,.month ,.total{
  margin: 20px 20px 20px 0px;
  background-color: #fff;
  width: 30vw;
  height: 25vh;
  border-radius: 3vh;
}

.hour_title_font{
  color: #088ad6;
  font-weight: 700;
  text-align: center;
  padding: 20px 20px 0px 20px;
}