body{
  /* max-width: 1500px; */
  background-color: #F5F5F8;
}

header{
  position: fixed;
  width: 100%;
}



.header_container{
  /* max-width: 1200px; */
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.posse_logo{
  width: 200px;
}

.logo_img{
  /* position: absolute;; */
  padding-left: 18%;
  display: flex;
  align-items: center;
  width: 130px;;
}

.week{
  left: 70px;
  color: #F5F5F8;
}

.header_btn{
  color: #fff;
  position: absolute;
  right: 5%;
  padding: 15px 70px;
  display: inline-block;
  text-decoration :none;
  text-align: center;
  background: -moz-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  border-radius: 100vh;
  box-shadow : 4px 8px 10px #99ccff ;
}
@media screen and (max-width: 480px){
.header_btn{
  right: 25%;
  display: flex;
  top: 1200px;
}
}


.modal_btn{
  color: #fff;
  padding: 15px 70px;
  margin: 0 auto;
  text-decoration :none;
  text-align: center;
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  border-radius: 100vh;
  box-shadow : 4px 8px 10px #99ccff ;
  width: 20%;
  white-space: nowrap;
  /* align-items: center;
  display: flex; */
}
@media screen and (min-width: 480px){
  .modal_btn{
    display: none;
  }
  }



.day_data{
  text-align: center;
  padding: 30px;
  font-weight: 700;
}

main{
  /* margin-right: 10%;
  margin-left: 10%; */
  padding-top: 84px;
}

.main_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 85%;
}
@media screen and (max-width:480px){
.main_container{
  display: block;
}
}

.hour_number{
  font-size: 30px;
  font-weight: 800;
  padding-top: 12px;
  padding-bottom: 12px;
}

.box_wrapper1{
  width: 100%;
  /* width: calc((100% - 20px)/2); */
}
@media screen and (max-width:480px){
  .box_wrapper1{
    margin-top: 5px;
  }
  }


.box_wrapper2{
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width:480px){
  .box_wrapper2{
    margin-left: 0px;
    margin-top: 16px;
    gap: 16px;
  }
  }


.l_main{
  padding: 5px;
  display: flex;
  align-items: center;
}
@media screen and (max-width:480px){
  .l_main{
  padding: 3px;
  }
  }

.circle_1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background: #0345ec;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_1{
    width: 13px;
    height: 13px;
  }
  }

.circle_2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background:#0f71bd ;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_2{
    width: 13px;
    height: 13px;
  }
  }

.circle_3{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background: #20bdde;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_3{
    width: 13px;
    height: 13px;
  }
  }

.circle_4{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background:#3ccefe ;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_4{
    width: 13px;
    height: 13px;
  }
  }

.circle_5{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background: #b29ef3;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_5{
    width: 13px;
    height: 13px;
  }
  }

.circle_6{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background: #6d46ec;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_6{
    width: 13px;
    height: 13px;
  }
  }

.circle_7{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background:#4a17ef ;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_7{
    width: 13px;
    height: 13px;
  }
  }

.circle_8{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
  background: #3105c0;/*背景色*/
}
@media screen and (max-width:480px){
  .circle_8{
    width: 13px;
    height: 13px;
  }
  }

.language_detail{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width:480px){
  .language_detail{
    font-size: 13px;
    margin: 10px;
  }
  }


.twitter{
	padding-left:24px;
	position:relative;
  margin-left: 51%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width:480px){
  .twitter{
    margin-left: 0px;
  }
  }

.twitter_share{
  display: flex;
  align-items: center;
}


/* .twitter:before,
.twitter:after{
	content:"";
	display:block;
	position:absolute;
} */

/* .twitter:before{
	width:16px;
	height:16px;
	border-radius:8px;
	background:#0090CE;
  background: #bde360;
	border:1px solid #000000;
	left:0;top:2px;
} */
/* .twitter:after{
	border-left:2px solid #fff;
	border-bottom:2px solid #fff;
	width:6px;
	height:3px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:5px;
	top:7px;
} */

.hour_container{
  /* margin-right: 50%; */
  display: flex;
}

.today_container, .month_container{
  background-color: #fff;
  width: 33.3%;
  height: 14vh;
  border-radius: 7px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
}
@media screen and (max-width:480px){
  .today_container{
    margin-right: 16px;
  }
  }

.total_container{
  background-color: #fff;
  width: 33.3%;
  height: 14vh;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
}
@media screen and (max-width:480px){
  .today_container{
    margin-right: 16px;
  }
  }

.hour_main{
  color: #0090CE;
  font-weight: bold;
}

.hour_font{
  text-align: center;
  color: darkgray;
}

.bar_graph_container{
  margin-top: 20px;
  /* margin-right: 50%; */
  background-color: #fff;
  height: 50vh;
  border-radius: 7px;
}
@media screen and (max-width:480px){
  .bar_graph_container{
    height: 25vh;
  }
  }

.language_container{
  margin-top: 0px;
  background-color: #fff;
  /* width: 10vw;
  height: 20vh; */
  border-radius: 7px;
}

.content_container{
  margin-top: 0px;
  background-color: #fff;
  /* width: 10vw;
  height: 20vh; */
  border-radius: 7px;
}


.circle_document{
  font-size: large;
  font-weight: 900;
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (max-width:480px){
  .circle_document{
    margin-top: 15px;
  }
  }






.close_btn {
  display: block;
  position: relative;;
  right: 0;
  bottom: 0;
  margin-left: 98%;
  width: 40px;
  height: 40px;
  border-radius: 50%;  /* 丸みの度合い */
  background: #F5F5F8; /* ボタンの背景色 */
}

.close_btn::before, .close_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #555; /* バツ印の色 */
}

.close_btn::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.close_btn::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  color: #555;
  width: 65%;
  padding-right: 56px;
  padding-left: 56px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 30px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
}

#modal p {
  margin: 0 0 20px;
}

/* 

#record_modal{
  background: #fff;
  color: #555;
  width: 65%;
  padding-right: 56px;
  padding-left: 56px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 30px;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2;
  height: 59%;
}

#record_modal p{
  margin: 0 0 20px;
}


#record_modal.record_hidden{
  display: none;
} */

#modal_inner.hidden{
  display: none;
}


#mask.hidden {
  display: none;
}

#modal.hidden {
  display: none;
}

.modal_inner{
  display: flex;
  gap: 40px;
}
@media screen and (max-width:480px){
  .modal_inner{
    display: block;
    gap: 0px;

  }
  }

.modal_left{
  column-gap: 20px;
  width: 50%;
}
@media screen and (max-width:480px){
  .modal_left{
    width: 100%;
  }
  }

.modal_right{
  width: 50%;
}
@media screen and (max-width:480px){
  .modal_right{
    width: 100%;
  }
  }

.modal_font{
  font-weight: 700;
  margin-bottom: 10px;
}


/* ベースの本体 */
/* #loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0db40;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#loading.loaded {
  opacity: 0;
  visibility: hidden;
} */

/* ローディングアニメーション */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 160px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #545454;
  transform: translateZ(0);
  animation: loadAnime 1.1s infinite linear;
}

@keyframes loadAnime {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.awesome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
}

.awesome_font{
  color: #bde360;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.awesome_check{
  text-align: center;
}

.awesome_image{
  content: '';
  width: 10px;
  height: 5px;
  border-left: 3px solid #F5F5F8;
  border-bottom: 3px solid #F5F5F8;
  transform: rotate(-45deg);
}

.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column; 
  vertical-align: top;
}

.size_normal{
  width: 60px;
  height: 60px;
}

.green1 {
  background: #bde360;
}

.awesome_check{
  margin-top: 30px;
  font-size: 30px;
}




ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li{
  background-color:#F5F5F8;
  border-radius: 100vh;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 12px;
  font-size: large;
}
@media screen and (max-width:480px){
  li{
    margin-right: 3px;
    font-size: 13px;
    padding: 10px;
  }
  }

.study_box{
  background-color: #F5F5F8;
  width: 95%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width:480px){
  .study_box{
    padding-bottom: 0px;
  }
  }

.day_box{
  background-color: #F5F5F8;
  width: 95%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width:480px){
  .day_box{
    padding-bottom: 0px;
  }
  }

.twitter_box{
  background-color: #F5F5F8;
  width: 95%;
  height: 30vh;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
@media screen and (max-width:480px){
  .twitter_box{
    height: 100px;
  }
  }

.study_content{
  margin-bottom: 28px;
}
.record_btn{
  color: #fff;
  padding: 15px 70px;
  margin-top: 10px;
  text-decoration :none;
  text-align: center;
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  border-radius: 100vh;
  box-shadow : 4px 8px 10px #99ccff ;
  width: 20%;
}
.record_btn_font{
  font-size: 15px;
  white-space: nowrap;
}

.record_container{
  display: flex;
  justify-content: center;
}



.language_inner{
  height: 240px;
  width: 85%;
  margin: 30px auto;
}
@media screen and (max-width:480px){
  .language_inner{
    margin: 5px auto;
  }
  }

.content_inner{
  height: 240px;
  width: 85%;
  margin: 30px auto;
}
@media screen and (max-width:480px){
  .content_inner{
    margin: 5px auto;
  }
  }

  @media screen and (max-width:480px){
    .content_detail{
      font-size: 13px;
      margin: 10px;
    }
    }

.bar_graph_container_inner{
  width: 85%;
  margin: 0 auto;
  height: 90%;
  padding-top: 20px;
}