body{
  max-width: 1200px;
  background-color: #F5F5F8;
}

header{
  position: fixed;
  width: 100%;
}

.header_container{
  max-width: 1200px;
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_img{
  /* position: absolute;; */
  padding-left: 10%;
  display: flex;
  align-items: center;;
}

.header_btn{
  color: #fff;
  position: absolute;
  right: 5%;
  padding: 15px 70px;
  display: inline-block;
  text-decoration :none;
  text-align: center;
  background: -moz-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  
  /*--水平方向 垂直方向 影のぼかし 色--*/
  /* box-shadow: 10px 10px 10px #0094D2(0,0,0,0.3);  
   */
  /*--角丸指定--*/
  border-radius: 100vh;
  box-shadow : 4px 8px 10px #99ccff ;
}

main{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 84px;
}

.hour_container{
  margin-right: 50%;
  display: flex;
  justify-content: center;
}

.today_container, .month_container, .total_container{
  background-color: #fff;
  width: 12vw;
  height: 20vh;
  color: #0090CE;
  border-radius: 5px;
  margin-right: 20px;
}