body{
  /* max-width: 1500px; */
  background-color: #F5F5F8;
}

header{
  position: fixed;
  width: 100%;
}

.header_container{
  /* max-width: 1200px; */
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_img{
  /* position: absolute;; */
  padding-left: 15%;
  display: flex;
  align-items: center;
  width: 130px;;
}

.header_btn{
  color: #fff;
  position: absolute;
  right: 5%;
  padding: 15px 70px;
  display: inline-block;
  text-decoration :none;
  text-align: center;
  background: -moz-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  background: -webkit-linear-gradient(left, #0090CE, #02C5F5);
  
  /*--水平方向 垂直方向 影のぼかし 色--*/
  /* box-shadow: 10px 10px 10px #0094D2(0,0,0,0.3);  
   */
  /*--角丸指定--*/
  border-radius: 100vh;
  box-shadow : 4px 8px 10px #99ccff ;
}

main{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 84px;
}

.main_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hour_number{
  font-size: 30px;
  font-weight: 800;
  padding-top: 12px;
  padding-bottom: 12px;
}

.box_wrapper1{
  /* display: grid; */
  /* grid-template-rows: repeat(2, 1fr); */
}
.box_wrapper2{
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hour_container{
  /* margin-right: 50%; */
  display: flex;
}

.today_container, .month_container{
  background-color: #fff;
  width: 33.3%;
  height: 14vh;
  border-radius: 7px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
}

.total_container{
  background-color: #fff;
  width: 33.3%;
  height: 14vh;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
}

.hour_main{
  color: #0090CE;
  font-weight: bold;
}

.hour_font{
  text-align: center;
  color: darkgray;
}

.bar_graph_container{
  margin-top: 20px;
  /* margin-right: 50%; */
  background-color: #fff;
  height: 50vh;
  border-radius: 7px;
}

.language_container{
  margin-top: 0px;
  background-color: #fff;
  /* width: 10vw;
  height: 20vh; */
  border-radius: 7px;
}

.content_container{
  margin-top: 0px;
  background-color: #fff;
  /* width: 10vw;
  height: 20vh; */
  border-radius: 7px;
}